.profile__description{
  margin: 0 0 34px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) {
  .profile__description{
    margin: 0;
    grid-column: 2;
    grid-row: 2;
    text-align: left;
    align-self: flex-start;
  }  
} 

@media screen and (min-width: 1024px) {
  .profile__description{
    font-size: 18px;
    line-height: 21.78px;
  }  
} 