.card__like{
  width: 22px;
  height: 19px;
  background: #fff;
  background-image: url(../../../images/cards/like.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
}

.card__like:hover{
  opacity: 0.5;
  cursor: pointer;
}