.place{
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;    
}
  
  .place:hover{
    opacity: 0.8;
  }